@charset "UTF-8";
/*polices*/
/*couleur*/
/*mixin*/
/*flexbox*/
/*margins*/
/*responsive design*/
/*keyframes animation*/
/*animation loader*/
/*animation loader dissapear*/
@keyframes disappear1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
/*animation loader spin*/
@keyframes spin1 {
  to {
    transform: rotate(360deg);
  }
}
/*animation heart*/
@keyframes heart1 {
  0% {
    opacity: 0;
    transform: translateY(0%);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(10%);
    transform: scale(1.08);
  }
}
@keyframes heartback1 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
/*myAnimtop*/
@keyframes myAnimtop1 {
  0% {
    transform: translateY(22px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*animation green button*/
/*animation button*/
@keyframes bgreen1 {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
/*animation loader small spin*/
@keyframes move1 {
  0% {
    transform: rotate(-200deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  overflow: hidden;
  overflow-y: scroll;
  width: auto;
  margin-left: 0%;
  margin-right: 0%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: Roboto;
  background-color: white;
  font-size: 0.95em;
}
@media screen and (max-width: 1800px) {
  body {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
@media screen and (max-width: 950px) {
  body {
    width: auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
  }
}

::-webkit-scrollbar {
  display: none;
}

.loader {
  background-color: #ffe9f9;
  opacity: 0.9;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 3;
  animation: disappear1 400ms 1s forwards;
  transform-origin: center;
  display: grid;
  place-items: center;
}
.loader i {
  opacity: 1;
  animation: spin1 1s infinite linear;
  color: #9356DC;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #343434;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
}
@media screen and (max-width: 950px) {
  .footer {
    width: auto;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 0px;
    padding-bottom: 20px;
  }
}
.footer__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  /*font-size: 200%;*/
  font-family: Shrikhand;
  color: white;
  margin-top: 2%;
  margin-bottom: 36px;
}
@media screen and (max-width: 950px) {
  .footer__title {
    width: 94%;
    margin-left: 6%;
    margin-bottom: 0px;
    font-size: 70%;
    text-align: left;
  }
}
@media screen and (max-width: 950px) {
  .footer__titlefooter__title--form {
    margin-bottom: 10px;
  }
}
.footer__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  font-size: 20px;
}
@media screen and (max-width: 950px) {
  .footer__link {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
  }
}
.footer__link__a {
  text-decoration: none;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*page d’accueil*/
p {
  font-size: 20px;
  margin: 0%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 1.4%;
  font-family: Roboto;
}
.header__logo {
  font-size: 20%;
}
@media screen and (max-width: 950px) {
  .header__logo {
    font-size: 0%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 599px) {
  .header__logo__img {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 6%;
  border: #e6e6e6 1px solid;
  border-radius: 20px;
  background-color: #fafafa;
  font-family: Roboto;
}
@media screen and (max-width: 950px) {
  .nav {
    width: auto;
    margin-left: 0%;
    margin-right: 0%;
    border: none;
    border-radius: 0px;
  }
}

.nav__search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1%;
  background-color: #eeeeee;
  border-radius: 20px;
  width: 400px;
  height: 40px;
}
@media screen and (max-width: 950px) {
  .nav__search {
    width: 98%;
    margin-top: 0%;
    border-radius: 0px;
  }
}
@media screen and (max-width: 599px) {
  .nav__search {
    border-top: 2px solid #e6e6e6;
  }
}
.nav__search__1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .nav__search__1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top: auto;
    padding-bottom: auto;
  }
}
.nav__search__1--padding {
  margin-left: 4%;
}

.nav__text {
  width: auto;
  margin-left: 2%;
  margin-right: 2%;
}
.nav__text__h {
  text-align: center;
  font-size: 20px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.nav__text__p {
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
}
@media screen and (max-width: 599px) {
  .nav__text__p {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.nav__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(176deg, #FF79DA, 40%, #9356DC);
  color: white;
  cursor: pointer;
  align-items: center;
  height: 60px;
  width: auto;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 8%;
  margin-bottom: 12%;
  border-radius: 30px;
  box-shadow: 0px 0px 11px 4px #c7c7c7;
  transform: scale(1);
  transition: transform 1000ms;
}
.nav__button__p {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
@media screen and (max-width: 950px) {
  .nav__button {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
.nav__button:hover {
  transform: scale(1.1);
  opacity: 0.9;
  box-shadow: 0px 0px 11px 4px #9a9a9a;
}

.demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
@media screen and (max-width: 950px) {
  .demo {
    width: auto;
    margin-left: 0%;
    margin-right: 0%;
  }
}
.demo__title {
  text-align: center;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}
@media screen and (max-width: 950px) {
  .demo__title {
    width: 4%;
    text-align: left;
    margin-left: 6%;
  }
}

.demo__bloc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
  font-family: Roboto;
}
@media screen and (max-width: 950px) {
  .demo__bloc {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 599px) {
  .demo__bloc {
    padding-left: 0%;
    padding-right: 0%;
  }
}
.demo__bloc__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 5.4em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border: #e6e6e6 1px solid;
  box-shadow: #e6e6e6 5px 5px 5px 1px;
  border-radius: 30px 28px 28px 30px;
  background-color: #eeeeee;
}
@media screen and (max-width: 950px) {
  .demo__bloc__button {
    width: 90%;
    margin-left: 6%;
    margin-right: 2%;
    justify-content: center;
  }
}
.demo__bloc__button:hover {
  background-color: #e4d5f6;
}
.demo__bloc__button__number {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  color: white;
  background-color: #9356DC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 12px;
  margin-left: -4%;
}
@media screen and (max-width: 950px) {
  .demo__bloc__button__number {
    margin-left: -6%;
  }
}
@media screen and (max-width: 599px) {
  .demo__bloc__button__number {
    margin-left: -4%;
  }
}
.demo__bloc__button__icon {
  width: 10%;
  color: gray;
}
.demo__bloc__button__icon__m {
  display: none;
}
.demo__bloc__button__icon__m .fas {
  color: gray;
}
@media screen and (max-width: 599px) {
  .demo__bloc__button__icon__m {
    display: inline-block;
  }
}
@media screen and (max-width: 599px) {
  .demo__bloc__button__icon__c {
    display: none;
    opacity: 1;
  }
}
.demo__bloc__button__text {
  width: 80%;
  text-align: left;
}

.demo__bloc__button:hover > .demo__bloc__button__icon {
  color: #9356DC;
}

.food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  margin-top: 10%;
  padding-bottom: 14%;
  background-color: white;
}
@media screen and (max-width: 950px) {
  .food {
    background-color: #eeeeee;
  }
}

.food__title {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}
@media screen and (max-width: 950px) {
  .food__title {
    text-align: left;
    margin-left: 6%;
  }
}

.food__bloc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-left: 6%;
  margin-right: 6%;
}
@media screen and (max-width: 950px) {
  .food__bloc {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 0%;
    margin-right: 0%;
  }
}
.food__bloc__article {
  display: block;
  position: relative;
  width: 42%;
  height: 30em;
  background-color: white;
  margin: 2%;
  border-radius: 20px;
  border: 0px solid #e6e6e6;
  box-shadow: 0px 5px 5px 5px #e6e6e6;
}
@media screen and (max-width: 950px) {
  .food__bloc__article {
    width: auto;
    height: 20em;
    margin-left: 6%;
    margin-right: 6%;
  }
}

.food__bloc__article__link {
  text-decoration: none;
}
.food__bloc__article__link__image {
  z-index: 1;
  width: 100%;
  height: 70%;
  background-color: white;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.food__bloc__article__link__new {
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 6%;
  right: 2.5%;
  margin-right: auto;
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
}
.food__bloc__article__link__legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  height: 4em;
}
.food__bloc__article__link__legend__h2 {
  color: #1a1a1a;
  margin-top: 0.6%;
  padding-top: 40px;
}
@media screen and (max-width: 599px) {
  .food__bloc__article__link__legend__h2 {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
  }
}
.food__bloc__article__link__legend__p {
  color: black;
  margin-top: 0.2%;
}
@media screen and (max-width: 599px) {
  .food__bloc__article__link__legend__p {
    margin-top: 6px;
    margin-bottom: 0px;
  }
}
.food__bloc__article__link__legend__icon {
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .food__bloc__article__link__legend__icon {
    margin-top: 0px;
  }
}

.heart--far {
  position: relative;
  color: #1a1a1a;
}

.heart--fas {
  position: absolute;
  right: 1.96%;
  bottom: 18.8%;
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(176deg, #FF79DA, 40%, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  transform-origin: bottom;
  transition-duration: 2s;
  transition-delay: 400ms;
}
@media screen and (max-width: 950px) {
  .heart--fas {
    bottom: 13%;
  }
}

.food__bloc__article:hover .heart--fas {
  animation: heart1 2s 100ms cubic-bezier(0.35, 0.41, 0.06, 0.99) forwards;
}

.food__bloc__article:hover .heart--far {
  animation: heartback1 2s 1s linear forwards;
}

/*# sourceMappingURL=style.css.map */
