/*polices*/

$logo-title: Shrikhand;
$text: Roboto;

/*couleur*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tercery: #99E2D0;
$color-background: #e6e6e6;
$color-button: linear-gradient(176deg,$color-secondary,40%, $color-primary);

/*margin out*/

$margin-top: 0%, 2%, 6%, 10%, 40%;
$margin-bottom: 0%, 2%, 6%, 10%, 40%;
$margin-left: 0%, 2%, 6%, 10%, 40%;
$margin-right: 0%, 2%, 6%, 10%, 40%;

/*mixin*/

@mixin flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin diplay-bloc {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*responsive design*/

$breakpointst:
(tablette: 950px);

$breakpoints:
(mobile: 599px);

@mixin tablette-only {
    @media screen and (max-width: map-get($breakpointst, tablette)){
        @content;
    }
  }
  @mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
  }

  /*keyframes*/

  @keyframes myAnimright {
    0% {
      opacity: 0;
      transform: translateX(250px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes myAnimtop {
    0% {
      opacity: 0;
      transform: translateY(-250px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

/*scss*/ 

body
{
    width: auto;
    margin-left: 0%;
    margin-right: 0%;
    overflow: scroll;
    font-family: $text;
    background-color: lighten($color-background, 10%);
    /*overflow-x: hidden;*/
    animation: myAnimtop 4s ease 0s 1 normal forwards;
}

h3
{
    font-size: 1.3em;
    margin: 0.2em;
}
p
{
    font-size: 1.2em;
    margin: 0.2em;
}
.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    @include tablette-only{
        width: 100%;
    }
    @include mobile-only
    {
        width: 100%;
    }
    &__icon{
        margin-left: -10%;
        margin-right: 10%;
        color: black;
        &__link{
            cursor: pointer;
            color: black;
            &:hover{
                color: $color-primary;
            }
        }
    }
    &__logo{
        font-size: 20%;
        display: flex;
        &__img{
            @include tablette-only{
                width: 60%;
                margin-left: 20%;
                margin-right: 20%;
            }
            @include mobile-only{
                width: 60%;
                margin-left: 20%;
                margin-right: 20%;
            }
        }
    }
}

.food{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: lighten($color-background, 10%);
    @include tablette-only{
        width: 100%;
        margin-top: 10%;
        margin-left: 0%;
        margin-right: 0%;
        background-color: $color-background; 
    }
    @include mobile-only{
        width: 100%;
        margin-top: 10%;
        margin-left: 0%;
        margin-right: 0%;
        background-color: $color-background;
    }
    &__image{
        width: 100%;
        height: auto;
    }
    &__menu{
        text-align: center;
        margin-top: -20%;
        background-color: lighten($color-background, 10%);
        @include tablette-only{
            background-color: $color-background;
            border-radius: 2.5em;
        }
        @include mobile-only{
            background-color: $color-background;
        }
        &__title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10%;
            margin-bottom: 10%;
            padding-left: 16%;
                padding-right: 16%;
            font-family: $logo-title;
            @include tablette-only{
                padding-left: 6%;
                padding-right: 6%;
            }
            &__heart__B{
                z-index: -1;
                position: relative;
                margin-bottom: -120%;
                &:hover{
                    z-index: 1;
                    opacity: 1;
                    background: $color-button;
                }
            }
            &__heart__W{
                z-index: 1;
            }       
        }
        &__enter{
            border-bottom: 0.2em solid $color-tercery;
            width: 2.5em;
            padding-bottom: 0.3em;
            margin-bottom: 1em;
            margin-left: 48%;
            @include tablette-only{
                align-items: left;
                width: 2.5em;
                padding-bottom: 0.3em;
                margin-bottom: 1em;
                margin-left: 4%; 
            }
            @include mobile-only{
                align-items: left;
                width: 2.5em;
                padding-bottom: 0.3em;
                margin-bottom: 1em;
                margin-left: 4%;
            }
        }
        &__carte{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 1%;
            text-align: center;
            @include tablette-only{
                display: flex;
                flex-direction: column;
                border: none;
                border-radius: 0%;
                margin: 0%;
                background-color: $color-background;
                box-shadow: none;
            }
            @include mobile-only{
                display: flex;
                flex-direction: column;
                border: none;
                border-radius: 0%;
                margin: 0%;
                background-color: $color-background;
                box-shadow: none;
            }
            &__ex{
                text-align: left;
                padding-left: 0%;
                display: flex;
                width: 28%;
                background-color: white;
                border: $color-background solid 1px;
                border-radius: 20px;
                box-shadow: $color-background 0em 0.32em 0.32em 0.062em;
                margin-left: 2%;
                margin-right: 2%;
                margin-top: 2%;
                margin-bottom: 2%;
                padding-left: 1%;
                @include tablette-only{
                    width: 90%;
                }
                @include mobile-only{
                    width: 90%;
                    &:hover{
                        cursor: pointer;
                    }
                }
                &__text{
                    width: 80%;
                    padding-top: 0.8em;
                    padding-bottom: 0.8em;
                    &--form{
                        overflow: hidden;
                        white-space: nowrap;
                       text-overflow: ellipsis;
                    }
                }
                &__price{
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    width: 10%;
                    padding-bottom: 0.8em;
                    font-weight: bold;
                }
                &__icon{
                    z-index: -1;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 10%;
                    height: auto;
                    background-color: $color-tercery;
                    border-top-right-radius: 1.25em;
                    border-bottom-right-radius: 1.25em;
                    transform: scale(0);
                }
                &:hover{
                    transform-origin: right 0%;
                    z-index: 1;
                    transform: scale(1);
                    animation: myAnim 1s ease 0s 1 normal forwards;

                }      
            }
        }
    }
    &__order{
        @include diplay-bloc; 
        background: linear-gradient(176deg,$color-secondary,40%, $color-primary);
        color: white;
        cursor: pointer;
        align-items: center;
        height: 3.75em;
        width: auto;
        margin-left: 40%;
        margin-right: 40%;
        margin-top: 8%;
        margin-bottom: 12%;
        border-radius: 1.89em;
        transform: scale(1);
        transition: transform 1000ms;;
        &--form{
            height: 2.8em;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: auto;
            margin-bottom: auto;
        }
        padding-top: auto;
        padding-bottom: auto;
        @include tablette-only{
            width: auto;
            margin-left: 30%;
            margin-right: 30%;
        }
        @include mobile-only{
            width: auto;
            margin-left: 30%;
            margin-right: 30%;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}


.footer
{
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1.25em;
    padding: 2%;
    @include tablette-only{
        width: auto;
        margin-left: 0%;
        margin-right: 0%;
        border-radius: 0em;
    }
    @include mobile-only{
        width: auto;
        margin-left: 0%;
        margin-right: 0%;
        border-radius: 0em;
    }
    &__title{
        @include diplay-bloc;
        text-align: center;
        width: 80%;
        /*font-size: 200%;*/
        font-family: $logo-title;
        color: white;
        margin-top: nth($margin-top, 2);
        margin-bottom: 2.25em;
        @include tablette-only{
            width: 100%;
            margin-left: 6%;
            margin-bottom: 0em;
            font-size: 80%;
            text-align: left;
        }
        @include mobile-only{
            width: 100%;
            margin-left: 6%;
            margin-bottom: 0em;
            font-size: 70%;
            text-align: left;
        }
        &footer__title--form{
            @include mobile-only{
                margin-bottom: 0.63em;
            }
        }
    }
    &__link
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: nth($margin-bottom, 2);
        margin-left: nth($margin-left, 2);
        margin-right: nth($margin-right, 2);
        font-size: 1.25em;
        @include tablette-only{
            @include flex-column;
            margin-left: 6%;
        }
        @include mobile-only{
            @include flex-column;
            margin-left: 6%;
       
        }
        &__a
        {
        text-decoration: none;
        color: white;
        padding-top: 0.31em;
        padding-bottom: 0.31em;
        }
    }
}
