
@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/responsives";
@import "./Utils/keyframes";

@import "./Layouts/body";
@import "./Layouts/loader";
@import "./Layouts/footer";



/*scss*/ 


h3
{
    font-size: 1.3em;
    margin: 0.2em;
}
p
{
    font-size: 1.2em;
    margin: 0.2em;
}

img
{
    width: 26em;
    height: auto;
    @include tablette-only{
        width: 12em;
    height: auto;
    }
}

.header
{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    @include tablette-only{
        width: 100%;
    }
    &__icon{
        justify-content: left;
        margin-left: 6%;
        color: darken($color-background, 80%);
        &__link{
            cursor: pointer;
            color: darken($color-background, 80%);
            &:hover{
                color: $color-primary;
            }
        }
    }
    &__logo{
        @include flex-center;
        margin-left: 30%;
        img{
            width: 26em;
            height: auto;
            @include tablette-only{
                width: 12em;
                height: auto;
            }
            @include mobile-only{
                margin-left: -3.125em;
            }             
        }
    }
}


.food{
    @include flex-column-center;
    @include marginlr0;
    background-color: lighten($color-background, 10%);
    overflow: hidden;
    @include tablette-only{
        background-color: $color-background; 
    }
    &__image{
        width: 100%;
        height: auto;
    }
    &__menu{
        text-align: center;
        margin-top: -20%;
        background-color: lighten($color-background, 10%);
        @include tablette-only{
            background-color: $color-background;
            border-radius: 2.5em;
        }
        &__transition{
            @include myAnimtop;
        }
        &__title{
            @include flex-row-sb;
            margin-top: 10%;
            margin-bottom: 10%;
            padding-left: 16%;
            padding-right: 16%;
            font-family: $logo-title;
            @include tablette-only{
                padding-left: 6%;
                padding-right: 6%;
                font-size: 12px;
            }
            &__icon{
               padding-top: 1.5%;
                cursor: pointer;
                color: $color-background;
                i{
                    position: relative;
                }
                @include mobile-only{
                    margin-top: 0px;
                    padding-top: 4%;
                }
            }
        }    
            
        &__enter{
            border-bottom: 0.2em solid $color-tercery;
            width: 2.5em;
            padding-bottom: 0.4%;
            margin-bottom: 1%;
            margin-left: 48%;
            @include tablette-only{
                align-items: left;
                width: 2.5em;
                padding-bottom: 0.6%;
                margin-bottom: 1%;
                margin-left: 4%; 
            }
        }
        &__carte{
            @include flex-center;
            flex-wrap: wrap;
            margin: 1%;
            text-align: center;
            @include tablette-only{
                @include flex-column;
                border: none;
                border-radius: 0%;
                margin: 0%;
                background-color: $color-background;
                box-shadow: none;
            }
            &__ex{
                text-align: left;
                padding-left: 0%;
                display: flex;
                width: 31.25em;
                height: 5em;
                background-color: lighten($color-background, 50%);
                border: $color-background solid 1px;
                border-radius: 20px;
                box-shadow: $color-background 0em 0.32em 0.32em 0.062em;
                @include margintb;
                @include marginlr2;
                padding-left: 1em;
                overflow: hidden;
                &:hover{
                    cursor: pointer;
                }
                @include tablette-only{
                    width: 90%;
                }
                &__text{
                    width: 80%;
                    padding-top: 0.8em;
                    padding-bottom: 0.8em;
                    padding-left: 0.4em;
                    @include mobile-only{
                        width: 70%;
                    }
                    &--form{
                        overflow: hidden;
                        white-space: nowrap;
                       text-overflow: ellipsis;
                    }
                }
                &__price{
                    @include flex-center;
                    align-items: flex-end;
                    width: 20%;
                    padding-bottom: 0.8em;
                    font-weight: bold;
                    @include mobile-only{
                        width: 30%;
                    }
                }
                &__icon{
                    display: none;
                    color: lighten($color-background, 50%);
                    justify-content: center;
                    align-items: center;
                    width: 0%;
                    height: auto;
                    background-color: $color-tercery;
                    border-top-right-radius: 1.25em;
                    border-bottom-right-radius: 1.25em;
                    transform-origin: right;
                }      
            }
        }
    }
    &__order{
        @include diplay-bloc; 
        background: linear-gradient(176deg,$color-secondary,40%, $color-primary);
        color: lighten($color-background, 50%);
        cursor: pointer;
        align-items: center;
        height: 3.75em;
        width: auto;
        @include marginlr40;
        margin-top: 12%;
        margin-bottom: 24%;
        border-radius: 1.89em;
        transform: scale(1);
        transition: transform 1000ms;;
        &--form{
            height: 2.8em;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: auto;
            margin-bottom: auto;
        }
        padding-top: auto;
        padding-bottom: auto;
        @include tablette-only{
            width: auto;
            @include marginlr30;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}

.heart--far{
    position: relative;
    color: darken($color-background, 80%);
}
.heart--fas{
    position: absolute;
    right: 52%;
    top: 0%;
    bottom: 0%;
    opacity: 0;
    color: transparent;
    background-image: $color-button;
    background-clip: text;
    -webkit-background-clip: text;
    transform-origin: bottom;
    transition-duration: 2s;
    transition-delay: 400ms;
    @include tablette-only{
    bottom: -4%;
    }
}

.food__menu__title__icon:hover .heart--fas
{
    @include heart;
}
.food__menu__title__icon:hover .heart--far
{
   @include heartback;
}


.food__menu__carte__ex:hover{
    .food__menu__carte__ex__icon
    {
        display: inline-flex;
        width: 15%;
        margin-right: 0em;
        @include bgreen;
        @include mobile-only{
            width: 15%;
        }
    }
    i{
        @include move;
    }
    .food__menu__carte__ex__price
    {
        @include mobile-only{
            width: 15%;
        }
    }
} 
