body
{
    font-family: Raleway;
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    overflow: scroll;
    overflow-x: hidden;
}

.couleurBleu
{
    color: #0065fc;
}
.couleurGris
{
    color: #deebff;
}

.couleurBleu
{
    background-color: #0065fc;
}