
@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/responsives";
@import "./Utils/keyframes";

@import "./Layouts/body";
@import "./Layouts/loader";
@import "./Layouts/footer";

/*page d’accueil*/

p
{
    font-size: 20px;
    margin: 0%;
}

.header
{
    @include flex-center;
    margin-top: 2%;
    margin-bottom: 1.4%;
    font-family: $text;
    &__logo{
        font-size: 20%;
        @include tablette-only{
            font-size: 0%;
            @include margintb;
        }
        &__img{
            @include mobile-only{
                width: 60%;
                @include marginlr20;
            }
        }
    }
}

.nav
{
    @include flex-column;
    width: 80%;
    text-align: center;
    @include marginlr10;
    margin-bottom: 6%;
    border: $color-background 1px solid;
    border-radius: 20px;
    background-color: lighten($color-background, 8%);
    font-family: $text;
        @include tablette-only{
            @include marginlr0;
            border: none;
            border-radius: 0px;
        }
    }        
    .nav__search{
        @include diplay-bloc;
        justify-content: center;
        align-items: center;
        @include margintb;
        padding: 1%;
        background-color: lighten($color-background, 3%);
        border-radius: 20px;
        width: 400px;
        height: 40px;
        @include tablette-only{
            width: 98%;
            margin-top: 0%;
            border-radius: 0px;
        }
        @include mobile-only{
            border-top: 2px solid $color-background;
        }
        &__1{
            @include flex-row-center;
            width: 100%;
            height: 40px;
            cursor: pointer;
            @include mobile-only{
                @include flex-row-center;
                font-size: 20px;
                padding-top: auto;
                padding-bottom: auto;
            }
            &--padding{
                margin-left: 4%;
            }
        }

    }
    .nav__text
    {
        width: auto;
        @include marginlr2;
        &__h{
            text-align: center;
            font-size: 20px;
            width: 80%;
            @include marginlr10;
        }
        &__p{
            width: 88%;
            @include marginlr6;
            @include mobile-only{
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
            }

        }
    }
    .nav__button
    {
        @include diplay-bloc; 
        background: linear-gradient(176deg,$color-secondary,40%, $color-primary);
        color: lighten($color-background, 50%);
        cursor: pointer;
        align-items: center;
        height: 60px;
        width: auto;
        @include marginlr40;
        margin-top: 8%;
        margin-bottom: 12%;
        border-radius: 30px;
        transform: scale(1);
        transition: transform 1000ms;
        &__p{
            height: 60px;
            @include flex-row-center;
            margin-top: auto;
            margin-bottom: auto;
        }
        @include tablette-only{
            width: 60%;
            @include marginlr20;
        }
        &:hover{
            transform: scale(1.1);
        }
    }


.demo
{
    @include flex-column-center;
    width: 80%;
    @include marginlr10;
    @include tablette-only{
        @include marginlr0; 
    }
    &__title
        {
        text-align: center;
        width: 20%;
        @include marginlr40;
        @include tablette-only{
            width: 4%;
            text-align: left;
            margin-left: 6%
        }
    }
}
    .demo__bloc
        {
        @include flex-row-sb;
        padding-left: 1%;
        padding-right: 1%;
        font-family: $text;
        @include tablette-only{
            @include flex-column;
        }
            @include mobile-only{
                padding-left: 0%;
                padding-right: 0%;
            }
            &__button
                {@include flex-row-center;
                width: 30%;
                height: 5.4em;
                @include marginlrauto;
                @include margintb;
                border: $color-background 1px solid;
                box-shadow: $color-background 5px 5px 5px 1px;
                border-radius: 30px 28px 28px 30px;
                background-color: lighten($color-background, 3%);
                @include tablette-only{
                    width: 90%;
                    margin-left: 6%;
                    margin-right: 2%;
                    justify-content: center;
                }
                &:hover{
                    background-color: lighten($color-primary, 30%);
                }
                &__number
                    {
                    height: 30px;
                    width: 30px;
                    border-radius: 50px;
                    color: lighten($color-background, 50%);
                    background-color: $color-primary;
                    @include flex-center;
                    align-items: center;
                    position: relative;
                    right: 12px;
                    margin-left: -4%;
                    @include tablette-only{
                        margin-left: -6%;
                    }
                    @include mobile-only{
                        margin-left: -4%;
                    }
                }
                &__icon
                    {
                    width: 10%;
                    color: darken($color-background , 40%); 
                    &__m
                        {
                        display: none;
                        .fas{
                            color: darken($color-background , 40%);
                        }
                        @include mobile-only{
                            display: inline-block;
                            
                        }
                    }
                    &__c{
                        @include mobile-only{
                            display: none;
                            opacity: 1;
                        }
                    }
                }
                &__text{
                    width: 80%;
                    text-align: left
                }
            }
        }

.demo__bloc__button:hover > .demo__bloc__button__icon
{
    color: #9356DC;
    
}

.food
{
    @include flex-column-center;
    width: auto;
    margin-top: 10%;
    padding-bottom: 14%;
    background-color: lighten($color-background, 10%);
    @include tablette-only{
        background-color: lighten($color-background, 3%);
    }
}
    .food__title{
        width: 40%;
        @include marginlr30;
        text-align: center;
        @include tablette-only{
            text-align: left;
            margin-left: 6%;
        }
    }
    .food__bloc
    {
    @include flex-center;
    width: 90%;
    @include marginlr6;
        @include tablette-only{
            @include flex-column;
            @include marginlr0
        }
        &__article{
            display: block;
            position: relative;
            width: 42%;
            height: 30em;
            background-color: lighten($color-background, 50%);
            margin: 2%;
            border-radius: 20px;
            border: 0px solid $color-background;
            box-shadow: 0px 5px 5px 5px $color-background;
            @include tablette-only{
                width: auto;
                height: 20em;
                @include marginlr6;
            }
        }
    }
        .food__bloc__article__link{
                text-decoration: none;
                &__image
                {
                    z-index: 1;
                    width: 100%;
                    height: 70%;
                    background-color: lighten($color-background, 50%);
                    object-fit: cover;
                    background-size:cover;
                    background-position: center;
                    border-radius: 20px 20px 0px 0px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
                &__new{
                    display: inline-block;
                    position: absolute;
                    z-index: 2;
                    top: 6%;
                    right: 2.5%;
                    margin-right: auto;
                    background-color: $color-tercery;
                    color: darken($color-tercery, 50%);
                    padding: 0.5rem;
                }
                &__legend
                {
                @include flex-row-ai;
                @include marginlr2;
                height: 4em;
                    &__h2{
                        color: darken($color-background, 80%);
                        margin-top: 0.6%;
                        padding-top: 40px;
                        @include mobile-only{
                            margin-top: 0px;
                            padding-top: 0px;
                            margin-bottom: 0px;
                        }
                    }
                    &__p{
                        color: black;
                        margin-top: 0.2%;
                        @include mobile-only{
                            margin-top: 6px;
                            margin-bottom: 0px;
                        }
                    }
                    
                    &__icon{
                        cursor: pointer;
                        @include mobile-only{
                            margin-top: 0px;
                        }
                    }
                }
  
            }

.heart--far{
    position: relative;
    color: darken($color-background, 80%);
}
.heart--fas{ 
    position: absolute;
    right: 1.96%;
    bottom: 18.8%;
    opacity: 0;
    color: transparent;
    background-image: $color-button;
    background-clip: text;
    -webkit-background-clip: text;
    transform-origin: bottom;
    transition-duration: 2s;
    transition-delay: 400ms;
    @include tablette-only{
        bottom: 13%;
    }
}

.food__bloc__article:hover .heart--fas
{
   @include heart;
}
.food__bloc__article:hover .heart--far
{
    @include heartback;
}