/*margin out*/
/*mixin*/
/*responsive design*/
/*keyframes*/
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/*scss*/
body {
  width: auto;
  background-color: #f2f2f2;
  margin-left: 0%;
  margin-right: 0%;
  overflow: scroll;
  /*overflow-x: hidden;*/
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}
@media screen and (max-width: 599px) {
  .header {
    width: 100%;
  }
}
.header__icon {
  margin-left: -10%;
  margin-right: 10%;
}
.header__icon__link {
  cursor: pointer;
}
.header__icon__link:active {
  color: black;
}
.header__logo {
  font-size: 20%;
  display: flex;
}
@media screen and (max-width: 599px) {
  .header__logo__img {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}

.food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f2f2f2;
}
@media screen and (max-width: 599px) {
  .food {
    width: 100%;
    margin-top: 10%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #f2f2f2;
  }
}
.food__image {
  width: 100%;
  height: auto;
}
.food__menu {
  text-align: center;
  margin-top: -20%;
  border-radius: 40px;
  background-color: #f2f2f2;
}
@media screen and (max-width: 599px) {
  .food__menu {
    background-color: #f2f2f2;
  }
}
.food__menu__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.food__menu__title__heart__B {
  z-index: -1;
  position: relative;
  margin-bottom: -120%;
}
.food__menu__title__heart__B:hover {
  z-index: 1;
  opacity: 1;
  background: linear-gradient(176deg, #FF79DA, 40%, #9356DC);
}
.food__menu__title__heart__W {
  z-index: 1;
}
.food__menu__carte {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1%;
  text-align: center;
}
@media screen and (max-width: 599px) {
  .food__menu__carte {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 0%;
    margin: 0%;
    background-color: #f2f2f2;
    box-shadow: none;
  }
}
.food__menu__carte__ex {
  text-align: left;
  padding-left: 0%;
  display: flex;
  width: 28%;
  background-color: white;
  border: #f2f2f2 solid 1px;
  border-radius: 20px;
  box-shadow: #e6e6e6 5px 5px 5px 1px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 1%;
}
@media screen and (max-width: 599px) {
  .food__menu__carte__ex {
    width: 90%;
  }
  .food__menu__carte__ex:hover {
    cursor: pointer;
  }
}
.food__menu__carte__ex__text {
  width: 80%;
}
.food__menu__carte__ex__price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 10%;
}
.food__menu__carte__ex__icon {
  z-index: -1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: auto;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
}
.food__order {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 16%;
  background: linear-gradient(176deg, #FF79DA, 40%, #9356DC);
  color: white;
  cursor: pointer;
  text-align: center;
  height: 52px;
  width: 400px;
  border-radius: 30px;
  transform: scale(1);
  transition: transform 1000ms;
}
@media screen and (max-width: 599px) {
  .food__order {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
.food__order:hover {
  transform: scale(1.1);
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: gray;
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
  padding: 2%;
}
@media screen and (max-width: 599px) {
  .footer {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 0px;
  }
}
.footer__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
  margin-bottom: 2%;
}
.footer__link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
@media screen and (max-width: 599px) {
  .footer__link {
    display: flex;
    flex-direction: column;
  }
}
.footer__link__a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=restaurant.css.map */
