/*polices*/

$logo-title: Shrikhand;
$text: Roboto;

/*couleur*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tercery: #99E2D0;
$color-background: #e6e6e6;
$color-button: linear-gradient(176deg,$color-secondary,40%, $color-primary);
