body
{
    overflow: scroll;
    @include marginlr0;
    overflow-x: hidden;
    font-family: $text;
    background-color: lighten($color-background, 10%);
    @include max-only{
        max-width: 1800px;
        @include marginlrauto;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-right: -2%;
    }
    @include tablette-only{
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}