body
{
    overflow-y: scroll;
    @include marginlr0;
    overflow-x: hidden;
    font-family: $text;
    background-color: lighten($color-background, 10%);
    @include max-only{
        max-width: 1800px;
        @include marginlrauto;
        overflow-x: hidden;
        overflow-y: scroll;
       
    }
    @include tablette-only{
        width: 100%;
        overflow-y: scroll;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        scrollbar-width: none;
        overflow-x: hidden;
        &::-webkit-scrollbar{
           display: none;
        }
    }
}