body
{
    overflow: scroll;
    @include marginlr0;
    overflow-x: hidden;
    font-family: $text;
    background-color: lighten($color-background, 10%);
    @include max-only{
        max-width: 1800px;
        @include marginlrauto;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: scroll;
       
    }
    @include tablette-only{
        width: 100%;
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        overflow-x: hidden;
        padding-right: -2%;
    }
}